@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-4 md:px-8;
}

/* Background colors and hovers for course categories */

.bg-IT, .hover\:bg-IT:hover {
  @apply bg-course-cat-IT;
}
.bg-ENG, .hover\:bg-ENG:hover {
  @apply bg-course-cat-ENG;
}
.bg-MATH, .hover\:bg-MATH:hover {
  @apply bg-course-cat-MATH;
}
.bg-BIZ, .hover\:bg-BIZ:hover {
  @apply bg-course-cat-BIZ;
}
.bg-ELECT, .hover\:bg-ELECT:hover {
  @apply bg-course-cat-ELECT;
}
.hover\:bg-IT:hover,
.hover\:bg-ENG:hover,
.hover\:bg-MATH:hover,
.hover\:bg-BIZ:hover,
.hover\:bg-ELECT:hover {
  --tw-bg-opacity: 0.3;
  transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
}

/* Border colors for course categories */
.border-IT {
  @apply border-course-cat-IT;
}
.border-ENG {
  @apply border-course-cat-ENG;
}
.border-MATH {
  @apply border-course-cat-MATH;
}
.border-BIZ {
  @apply border-course-cat-BIZ;
}
.border-ELECT {
  @apply border-course-cat-ELECT;
}


/* Transition Effects */
/* Fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s linear;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0.5;
}

/* Font Change */
/* latin */
@font-face {
  font-family: 'Mooli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Mooli.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('../fonts/Noto.woff2') format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
  font-family: 'Mooli','Noto Sans Arabic', sans-serif;
}