/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium leading-tight;
}

/* h1 */
h1 {
  @apply text-4xl max-sm:text-3xl;
}

/* h2 */
h2 {
  @apply text-3xl max-sm:text-2xl;
}

/* h3 */
h3 {
  @apply text-2xl max-sm:text-xl font-semibold;
}

/* h4 */
h4 {
  @apply text-xl max-sm:text-lg;
}

/* h5 */
h5 {
  @apply text-lg max-sm:text-base;
}

/* h6 */
h6 {
  @apply text-base;
}

/* Font */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('../fonts/IBMPlexSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Alyamama';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('../fonts/Alyamama.ttf') format('truetype');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011,
    U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}

* {
  font-family: 'IBM Plex Sans', 'Alyamama', sans-serif;
}
